html {
  font-size: 40px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family:
    "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
    background-color: #ffffff;
}


.biaoti2{
  padding-bottom: 5px;
  background: linear-gradient(to right,#e0c3fc 0%, #8ec5fc 100%) no-repeat right bottom;
  background-size: 0 4px;
  transition: background-size 1300ms;
}
.biaoti2{
  background-position-x: left;
  background-size: 100% 4px;
}
.biaoti2 {margin-top:20px;
  font-size:80px;
   text-align:center;
   color:#4b779dfc;
   text-shadow:2px 3px 1px#ccc;
  }

* {
  margin: 0;
  padding: 0;
}

.box {margin: 20px auto;
  width: 1200px;
}
.list {width:100%px;
  height:300px;
  margin-bottom:30px;
       cursor:pointer;
       border-radius:20px;
       transition: all 0.3s;
  
}
.list:hover {
box-shadow: 2px 3px 10px #aebecc;
}
.list-img {height:250px;
  width:420px;
  float:left;
      margin-top:25px}
.list-img img {height:100%;
        width:100%;
        object-fit:cover;
        margin-left:10px;    }
        .list-text {float: right;
          width:730px;
            padding:20px;}
     .list-text h2 {
       font-size:30px;
       margin-bottom:15px;
     }
     .list-text p {
       font-size:17px;
       color:#2f5244;
       line-height:1.5;
       display:-webkit-box;
       -webkit-box-orient:vertical;
       -webkit-line-clamp:10;
       overflow:hidden;
     }



.biaoti1 {
  margin: 0;
  padding: 20px 0;
  color: #578f66;
  text-shadow: 3px 3px 1px black;
  text-align: center;
}


.test {
  background-color: salmon;

}




table {
  border-collapse:collapse;
   border: 3px solid rgb(207 202 202);
   letter-spacing: 1px;
   font-size: 0.5rem;
   text-align:center;
   margin-left:200px ;
  margin-right:200px;
 
 }
 
 td, th {
   border: 1.5px solid rgb(190,190,190);
   padding:12px 20px;
 
 }
 
 th {
   background-color: rgb(78 110 217 / 29%);
 }
 td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(241 237 237);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding:10px;
}
.biaoti3 {
 color:#4b779dfc;
 padding:10px 10px;
 font-size:80px;
  text-shadow:3px 3px 1px #ccc;
  text-align:center;
 }
